.button{
    background-color: rgb(249, 25, 25);
    border: none;
    color: white;
    padding-inline: 1rem;
    padding-block: .5rem;
    text-align: center;
    outline: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}